.login{
    background-image: url("../All_image/home/quran-book.jpg");
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-origin: content-box;
    }