@media screen and (max-width:900px) {
    .openside{
        position:absolute;
        top: 3rem;
        left: 0.5rem;
        z-index: 1;
    }
    .closeside{
        display: none;
    }  
    .toggler{
        display: block;
    }
    .dash-heading{
        font-size:30px;
        font-weight: bold;
    }
    }
    
    @media screen and (min-width:900px) {
    .toggler{
        display: none;
    }
    .dash-heading{
        font-size:60px;
        font-weight: bold;
    }
}
.dashboar{
    background-image: url("../../All_image//background/ramzan.jpg");
}